<h1>List of Tags</h1>

<ul id="tags">
	<% @tag.each do |tag| %>
		<li>
			<%= link_to tag.name, tag_path(tag), class: 'tag_name', id: 'tag_#{tag.id}' %>
		</li>
	<% end %>
</ul>

<%= link_to "<< Back to Articles", articles_path %>